.TodayWeather .main-info {
  position: relative;
  background-color: rgba(217, 217, 217, 0.07);
  border: 1px solid rgba(61, 65, 87, 0.386);
  border-radius: 8px;
  height: 361px;
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TodayWeather .main-info .text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TodayWeather .main-info .image-section {
  width: 350px;
  padding-top: 40px;
  text-align: center;
}

.TodayWeather .city {
  font-size: 32px;
  font-weight: 400;
  line-height: 41px;
}

.TodayWeather .current-date {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-top: 8px;
}

.TodayWeather .description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  width: 290px;
}

.TodayWeather .description::first-letter {
  text-transform: uppercase;
}

.TodayWeather .properties {
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

@media (max-width: 768px) {
  .TodayWeather .main-info {
    height: 350px;
  }
  .TodayWeather .main-info .text-section {
    max-width: 250px;
  }
  .TodayWeather .city {
    font-size: 28px;
    line-height: 36px;
  }
  .TodayWeather .current-date,
  .TodayWeather .description {
    font-size: 16px;
    line-height: 19px;
  }
  .TodayWeather .main-info .image-section img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .TodayWeather {
    height: 360px;
  }
  .TodayWeather .main-info {
    height: 264px;
    padding: 22px;
  }
  .TodayWeather .main-info .text-section {
    max-width: 164px;
  }
  .TodayWeather .main-info .image-section {
    max-width: 228px;
  }

  .TodayWeather .city {
    line-height: 30px;
  }
  .TodayWeather .current-date,
  .TodayWeather .description {
    font-size: 14px;
    line-height: 16px;
  }
  .TodayWeather .main-info .image-section img {
    max-width: 90%;
  }
}
