.Weather .today-weather {
  width: 776px;
}

.Weather .search-box {
  position: relative;
  max-height: 56px;
  margin-bottom: 8px;
  padding: 16px 32px;
  border: 1px solid rgba(255, 255, 255, 0.288);
  border-radius: 8px;
}

.Weather .search-icon {
  width: 19px;
}

.Weather .search-input {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 20px;
  outline: none;
  width: 90%;
}

.Weather .main-info {
  position: relative;
  background-color: rgba(217, 217, 217, 0.07);
  border: 1px solid rgba(61, 65, 87, 0.386);
  border-radius: 8px;
  height: 361px;
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Weather .main-info .text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Weather .main-info .image-section {
  width: 350px;
  padding-top: 40px;
  text-align: center;
}

.Weather .city {
  font-size: 32px;
  font-weight: 400;
  line-height: 41px;
}

.Weather .current-date {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-top: 8px;
}

.Weather .main-info .temperature-section {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  gap: 4px;
  width: 350px;
}

.Weather .main-info .temperature {
  font-weight: 500;
  font-size: 80px;
  line-height: 94px;
  height: 91px;
  min-width: 130px;
}

.Weather .scale-switcher {
  width: 156px;
  height: 91px;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 0.07);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.Weather .scale {
  text-align: center;
  width: 77px;
}

.Weather .scale-link {
  color: rgba(255, 255, 255, 0.3);
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  text-decoration: none;
}

.Weather .scale-link:hover {
  color: rgba(255, 255, 255, 0.3);
  cursor: unset;
}

.Weather .turned-off {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.Weather .turned-off .scale-link {
  color: #fffffe;
  font-weight: 500;
}

.Weather .turned-off .scale-link:hover {
  cursor: pointer;
}

.Weather .description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  width: 290px;
}

.Weather .description::first-letter {
  text-transform: uppercase;
}

.Weather .properties {
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.Weather footer {
  text-align: right;
  width: 100%;
}

.Weather footer a {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  text-decoration: none;
}

.Weather footer a:hover {
  color: rgb(45, 51, 87);
}
