.Weather {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.Weather .weather-wrap {
  width: 776px;
}

.Weather .search-box {
  position: relative;
  max-height: 56px;
  margin-bottom: 8px;
  padding: 16px 32px;
  border: 1px solid rgba(255, 255, 255, 0.288);
  border-radius: 8px;
}

.Weather .search-icon {
  width: 19px;
}

.Weather .search-input {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 20px;
  outline: none;
  width: 90%;
}

.Weather footer {
  text-align: right;
  width: 100%;
}

.Weather footer a {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  text-decoration: none;
}

.Weather footer a:hover {
  color: rgb(45, 51, 87);
}
