.WeekDay {
  width: 396px;
  height: 85px;
  background-color: rgba(217, 217, 217, 0.07);
  border-radius: 8px;
  padding: 8px 32px;
  display: flex;
  justify-content: space-between;
}

.WeekDay .day {
  color: rgba(255, 255, 255, 0.7);
}

.WeekDay .day,
.WeekDay .date {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  top: 10px;
}

.WeekDay .temperature {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  top: 14px;
}

.WeekDay img {
  width: 108px;
  height: 69px;
}
